.home-intro {
    display: flex;
    max-width: 1000px;
    gap: 55px;
    margin: auto;
}
 .home-intro h1, .home-intro p {
    margin-bottom: 10px;
 }

.home-main {
    background-color: white;
    padding: 80px;
}

.home-main h2 {
    text-align: center;
    color: #1f2039;
    margin-bottom: 80px;
}

.home-main div {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-section h2 {
    text-align: center;
    color: #A5B4FC;
    margin-bottom: 40px;
}

form {
    color: white;
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    margin: auto;
}

input, textarea {
    border-style: none;
    border-radius: 4px;
    padding: 15px;
}

.form-name-email {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    gap: 15px;
}

.form-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

label {
    line-height: 2.5em;
}

.contact-section .cta {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width: 996px) {

    .home-intro img {
        width: 100%;
    } 

    .home-intro {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .home-intro div {
        text-align: center;
    }

    .contact-section, section {
        padding: 50px 20px;
    }

    .form-name-email {
        flex-direction: column;
    }

    .home-main {
        padding: 20px;
    }

    .home-main div {
        flex-direction: column;
    }

    .contact-section h2 {
        margin-bottom: 50px;
    }
}